<% unless user_signed_in? %>
  <%= render 'pages/home' %>
<% else %>
  <h1>Listing med_records</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Abdominal</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render @med_records %>
    </tbody>
  </table>

  <br />

  <%= link_to 'New Med record', new_med_record_path %>
<% end %>