<div class="row">
  <div class = "span6 offset3">
    <div class = "well">
      <p>
        <b>Abdominal</b>
        <%= @med_record.abdominal %>
      </p>
      <%= link_to 'Edit', edit_med_record_path(@med_record) %>
    </div>
  </div>
</div>

<%= link_to 'Back', med_records_path %>
