<div class="row">
  <div class="span6 offset3">
    <div class="well">
      <p><b>Abdominal</b></p>
        <div class="well" style="background-color:gray"><%= @med_record.abdominal %></div>
        <%= @med_record.user.first_name %>
        <div class="pull-right"><%= link_to 'Edit', edit_med_record_path(@med_record) %></div>
    </div>
  </div>
</div>

<%= link_to 'Back', med_records_path %>
